@media only screen and (max-width: 1188px) {
    header {
        padding: 10px 20px;
        gap: 15px;
    }
}

@media only screen and (max-width: 1136px) {
    header {
        padding: 16px 16px 14px;
    }

    .bar-menu {
        display: block;
    }

    header>figure {
        width: 80px;
    }

    .menu-left {
        display: none;
    }

    .brochure-btn {
        display: flex;
    }

    .phn-btn {
        display: none;
    }

    .menu-right {
        align-items: center;
        gap: 8px;
    }

    .scholar-btn {
        padding: 3px 8px;
        font-size: 11px;
        font-weight: 500;
    }
}


@media only screen and (max-width: 991px) {
    .banner-desktop {
        display: none!important;
    }

    .banner-mobile {
        display: block;
    }

    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
        background: transparent;
    }

    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
}


@media only screen and (max-width: 767px) {
    
}


@media only screen and (max-width: 575px) {

    /* Offcanvas Menu */
    .offcanvas-menu {
        width: 80%;
        left: -80%;
    }
}