@media only screen and (max-width: 767px) {
    .bannner-desktop {
        display: none;
    }
    
    .bannner-mobile {
        display: block;
    }

    .next-btn, .prev-btn {
        display: none;
    }
    
}


@media only screen and (max-width: 575px) {

    /* Offcanvas Menu */
    .offcanvas-menu {
        width: 80%;
        left: -80%;
    }
}